.about {
    background: $backgroundTwo;
    overflow-x: hidden;
    padding-bottom: 50px;

    .aboutList {
        display: flex;
        align-items: center;
    }

    .aboutLeft {
        flex: 1 1 60%;
        padding: 50px 60px 50px 0;
    }

    .aboutRight {
        flex: 1 1 40%;
        min-width: 500px;
        height: 650px;
        position: relative;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: center;
        margin-left: 100px;
        text-align: center;
        width: 200px;
        z-index: 2;
    }

    .box1 {
        background: $secondaryColour;
        left: 0px;
        padding: 0 10px;
        position: relative;
        top: 0px;
    }

    .box2 {
        background: $primaryColour;
        position: relative;
        right: -150px;
        top: -50px;
    }

    .box3 {
        background: $secondaryColour;
        padding: 0 10px;
        position: relative;
        right: 0;
        top: -100px;
    }

    .box4 {
        background: $primaryColour;
        bottom: 0;
        left: 150px;
        position: absolute;
    }

    .box5 {
        border: 2px solid white;
        height: 500px;
        position: absolute;
        top: 75px;
        left: 180px;
        width: 200px;
        z-index: 0;
    }
}

@media (max-width:980px ){
    .about {
        .aboutList {
            flex-direction: column;
        }

        .aboutLeft {
            padding: 20px 0 100px;
        }

        .aboutRight {
            display: flex;
            flex-direction: row;
            height: 300px;
        }

        .box1,
        .box2,
        .box3,
        .box4 {
            height: 150px;
            margin-left: 100px;
            width: 150px;
        }

        .box1 {
            left: 30px;
            top: -100px;
        }

        .box2 {
            left: 150px;
            top: 0px;
        }

        .box3 {
            left: -220px;
            top: -100px;
            order: 2;
        }

        .box4 {
            left: 150px;
            top: 0px;
        }

        .box5 {
            left: 190px;
            top: -50px;
            height: 150px;
            width: 400px;
        }
    }
}

@media (max-width: 600px) {
    .about {
        .aboutList {
            flex-direction: column;
        }

        .aboutLeft {
            padding: 20px 0;
        }

        .aboutRight {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            height: 300px;
            position: static;
        }

        .box1,
        .box2,
        .box3,
        .box4 {
            height: 150px;
            margin-left: 100px;
            width: 30%;
            position: static;
            margin-left: 0;
            margin:10px
            // flex: 1 1 200px;
        }

        .box1 {
            left: 0px;
            top: 0px;
        }

        .box2 {
            left: 0px;
            top: 0px;
        }

        .box3 {
            left: 0px;
            top: 0px;
        }

        .box4 {
            left: 0px;
            top: 0px;
        }

        .box5 {
            display: none;
        }
    }
}