.contact {
    background: $backgroundOne;

    .wrapper {
        display: flex;
    }

    .contactInfo {
        flex: 1 1 50%;
    }

    .contactLeft {
        margin-top: 40px;
        i {
            font-size: 2rem;
            padding: 25px 25px 25px 0;
        }
        li:last-child i:hover {
            color: $primaryColour;
        }
        li {
            display: flex;
        }
    }

    form {
        display: flex;
        flex: 1 1 50%;
        flex-direction: column;
        padding: 50px;

        input, 
        textarea {
            border: 2px solid $primaryColour;
            margin: 10px 0;
        }

        button {
            background: none;
        }

        .contactNames {
            columns: 2;
            column-gap: 40px;
        }
    }
}