footer {
    background: $backgroundTwo;
    text-align: center;
    padding: 15px 0;

    .hide {
        display: none;
    }

    .show {
        display: inline-block;
    }

    .toggleCredits {
        cursor: pointer;
    }
}