// * {
//     transition: 0.5s all ease;
// }

body {
    color: white;
    font-size: 125%;
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

input, 
textarea {
    font-family: 'Jost', sans-serif;
}

h1, 
h2, 
h3, 
h4,
p {
    padding: 10px 0
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.button {
    display: inline-block;
    margin: 20px 20px 20px 0;
    padding: 15px 20px;
    text-align: center;
    width: 200px;
}

.button:focus {
    box-shadow: 2px 2px 2px $primaryColour;
}

.buttonWhite {
    border: 1px solid white;
    color: white
}

.buttonYellow {
    border: 1px solid $primaryColour;
    color: $primaryColour;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

.yellow {
    color: $primaryColour;
    
}

.line::before {
    display: inline-block;
    content: "";
    border-top: 1px solid $primaryColour;
    color: $primaryColour;
    width: 2rem;
    margin-right: 2px;
    transform: translateY(-3px);
}