// * {
//     transition: 0.5s all ease;
// }

html{
    font-size: 125%;
    scroll-behavior: smooth
}

body {
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

input, 
textarea {
    font-family: 'Jost', sans-serif;
}

h1, 
h2, 
h3, 
h4,
h5,
p {
    padding: 10px 0
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem;
    text-transform: lowercase;
    color: $primaryColour;
}

h5 {
    font-size: 0.8rem;
    padding-bottom: 10px;
}

p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.7rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.button {
    display: inline-block;
    margin: 20px 20px 20px 0;
    padding: 15px 20px;
    text-align: center;
    width: 200px;
}

a:focus {
    border-bottom: 2px solid $primaryColour;
}

.button:focus {
    border: 2px solid $primaryColour;
    box-shadow: 2px 2px 2px $primaryColour;
}

.buttonWhite {
    border: 1px solid white;
    color: white
}

.buttonWhite:hover {
    color: $backgroundOne;
    background: white;
}

.buttonYellow {
    border: 1px solid $primaryColour;
    color: $primaryColour;
}

.buttonYellow:hover {
    color: $backgroundOne;
    background: $primaryColour;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

.yellow {
    color: $primaryColour;
    line-height: 1.1rem;
}

.line::before {
    display: inline-block;
    content: "";
    border-top: 1px solid $primaryColour;
    color: $primaryColour;
    width: 1.5rem;
    margin-right: 2px;
    transform: translateY(-3px);
}


@media(max-width: 550px) {
    html {
        font-size: 100%;
    }
}