.header {
    background: $backgroundOne;

    .wrapper {
        position: relative;
    }

    .burger {
        display: none;
        font-size: 2rem;
        position: absolute;
        right: 0;
        top: 50px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        li {
            margin-top: 50px;
            a {
                padding: 20px;
            }
        }
    }

    nav .logoContainer {
        flex: 1 1 25%;
        min-width: 200px;
        max-width: 300px;
        margin-top: 30px;
        img {
            width: 20%;
        }
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        flex: 1 1 75%;
        padding: 0;
    }

    .profileSection {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0;
        align-items: center;
    }

    .profileImage {
        flex: 1 1 40%;
        min-width: 300px;

        img {
            border-radius: 90%;
        }
    }

    .profileImageMobile {
        display: none;
        flex: 1 1;
        max-width: 400px;

        img {
            border-radius: 90%;
        }
    }

    .profileInfo {
        flex: 1 1 60%;
        padding: 15px 15px 15px 0;
        p {
            padding: 20px 0 30px;
        }

        .social {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            width: 100px;
            display: flex;
            padding: 0;
            i {
                font-size: 2rem;
                padding: 25px 25px 25px 0;
            }
            i:hover {
                color: $primaryColour;
            }
        }
    }
}

@media (max-width: 910px) {
    .header {
        .profileImage {
            display: none;
        }

        .profileImageMobile {
            display: block;
        }

        .profileInfo{
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 0;
            p {
                text-align: center;
            }
            .social {
                width: auto;
                i {
                    padding: 25px;
                }
            }
        }
    }
}

@media (max-width: 800px ){
    .header {
        nav ul{
            display: none;
        };

        .burger {
            display: inline-block;
        }
    }
}

@media (max-width: 522px ){
    .header {
        .buttonContainer {
            text-align: center;
        }

        .button {
            margin: 10px;
        }
    }
}
