.portfolio {
    background: $backgroundTwo;
    text-align: center;
    overflow-x: hidden;

    .wrapper {
        text-align: center;
    }

    .portfolioProjectList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project {
        display: flex;
        flex-direction: row;
        padding: 50px 0;
        margin: 10px;
        width: 100%;
    }

    .projectTwo, 
    .projectFour,
    .projectSix {
        flex-direction: row-reverse;
    }

    .projectImageBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 50%;
        // width: 400px;
        margin-bottom: 20px ;
        img {
            border: 1px solid $primaryColour;
        }
    }

    .projectDescriptionBox {
        flex: 1 1 50%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fadeRight .projectDescriptionBox {
        text-align: left;
        .button {
            margin: 0;
        }
    }

    .fadeLeft .projectDescriptionBox {
        text-align: right;
        .button {
            margin: 0;
        }
    }
}


@media (max-width:1050px ) {
    .portfolio {
        .project {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .projectImageBox {
            min-width: 200px;
            max-width: 700px;
        }

        .fadeRight .projectDescriptionBox,
        .fadeLeft .projectDescriptionBox{
            text-align: center;
        }
    }
}