.portfolio {
    background: $backgroundTwo;
    text-align: center;

    .wrapper {
        text-align: center;
    }

    .portfolioProjectChoiceList {
        display: flex;
        justify-content: center;
        li {
            padding: 10px 15px;
        }
    }

    .portfolioProjectList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project {
        display: flex;
        flex-direction: row;
        padding: 50px 0;
        margin: 10px;
        width: 100%;
    }

    .fadeRight {
        transform: translateX(200px);
    }

    .fadeLeft {
        transform: translateX(-200px);
    }

    .fadeRight,
    .fadeLeft {
        opacity: 0;
        transition: opacity 0.5s ease, transform 1s ease;
    }

    .fadeRight.in,
    .fadeLeft.in {
        opacity: 1;
        transform: translateX(0);
    }

    


    // .projectOne,
    // .projectTwo, 
    // .projectThree,
    // .projectFour,
    // .projectFive,
    // .projectSix {
    //     opacity: 0;
    //     transform: translateX(20rem);
    //     visibility: hidden;
    //     transition: opacity 0.5s ease, transform 1s ease;
    // }

    // .fadeIn {
    //     opacity: 1;
    //     transform: none;
    //     visibility: visible;
    // }

    .projectTwo, 
    .projectFour,
    .projectSix {
        flex-direction: row-reverse;
    }

    .projectImageBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 60%;
        width: 400px;
    }

    .projectDescriptionBox {
        flex: 1 1 40%;
    }
}