a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skip-link {
  color: black;
  background: white;
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
}

.skip-link:focus {
  left: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

input,
textarea {
  font-family: 'Jost', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 10px 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.3rem;
  text-transform: lowercase;
  color: #F4BC17;
}

h5 {
  font-size: 0.8rem;
  padding-bottom: 10px;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.button {
  display: inline-block;
  margin: 20px 20px 20px 0;
  padding: 15px 20px;
  text-align: center;
  width: 200px;
}

a:focus {
  border-bottom: 2px solid #F4BC17;
}

.button:focus {
  border: 2px solid #F4BC17;
  -webkit-box-shadow: 2px 2px 2px #F4BC17;
          box-shadow: 2px 2px 2px #F4BC17;
}

.buttonWhite {
  border: 1px solid white;
  color: white;
}

.buttonWhite:hover {
  color: #0F112D;
  background: white;
}

.buttonYellow {
  border: 1px solid #F4BC17;
  color: #F4BC17;
}

.buttonYellow:hover {
  color: #0F112D;
  background: #F4BC17;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

.yellow {
  color: #F4BC17;
  line-height: 1.1rem;
}

.line::before {
  display: inline-block;
  content: "";
  border-top: 1px solid #F4BC17;
  color: #F4BC17;
  width: 1.5rem;
  margin-right: 2px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media (max-width: 550px) {
  html {
    font-size: 100%;
  }
}

.header {
  background: #0F112D;
  overflow-x: hidden;
}

.header .wrapper {
  position: relative;
}

.header .burger {
  display: none;
  font-size: 2rem;
  position: fixed;
  right: 40px;
  top: 30px;
  z-index: 4;
  opacity: 0.5;
}

.header .burger.blue {
  color: #0F112D;
  position: fixed;
  opacity: 1;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav li {
  margin-top: 50px;
}

.header nav li a {
  padding: 20px;
}

.header nav li a:hover {
  border-bottom: 1px solid #F4BC17;
}

.header nav .logoContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  min-width: 200px;
  max-width: 300px;
  margin-top: 30px;
}

.header nav .logoContainer img {
  width: 20%;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
  padding: 0;
}

.header .profileSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .profileImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  min-width: 300px;
}

.header .video,
.header video {
  border-radius: 90%;
  -webkit-border-radius: 90%;
}

.header .profileImageMobile {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  max-width: 400px;
}

.header .profileInfo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  padding: 15px 15px 15px 0;
}

.header .profileInfo p {
  padding: 10px 40px 10px 0;
}

.header .profileInfo .social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  display: flex;
  padding: 0;
}

.header .profileInfo .social i {
  font-size: 2rem;
  padding: 25px 25px 25px 0;
}

.header .profileInfo .social i:hover {
  color: #F4BC17;
}

@media (max-width: 910px) {
  .header .profileImage {
    display: none;
  }
  .header .profileImageMobile {
    display: block;
  }
  .header .profileInfo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .header .profileInfo p {
    text-align: center;
    padding: 20px 0;
  }
  .header .profileInfo .social {
    width: auto;
  }
  .header .profileInfo .social i {
    padding: 25px;
  }
}

@media (max-width: 800px) {
  .header nav ul {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    right: 0px;
    top: 0;
    bottom: 0;
    color: #0F112D;
    background: #F4BC17;
    width: 125px;
    z-index: 3;
  }
  .header nav ul li:first-child {
    padding-top: 100px;
  }
  .header .hide {
    display: none;
  }
  .header .burger {
    display: inline-block;
  }
}

@media (max-width: 522px) {
  .header .buttonContainer {
    text-align: center;
  }
  .header .button {
    margin: 10px;
  }
  .header h1 {
    text-align: center;
  }
}

.about {
  background: #101026;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.about .aboutList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .aboutLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  padding: 50px 0;
}

.about .aboutRight {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  min-width: 500px;
  height: 650px;
  position: relative;
}

.about .box1,
.about .box2,
.about .box3,
.about .box4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100px;
  text-align: center;
  width: 200px;
  z-index: 2;
}

.about .box1 {
  background: #333a9f;
  left: 0px;
  padding: 0 10px;
  position: relative;
  top: 0px;
}

.about .box2 {
  background: #F4BC17;
  position: relative;
  right: -150px;
  top: -50px;
}

.about .box3 {
  background: #333a9f;
  padding: 0 10px;
  position: relative;
  right: 0;
  top: -100px;
}

.about .box4 {
  background: #F4BC17;
  bottom: 0;
  left: 150px;
  position: absolute;
}

.about .box5 {
  border: 2px solid white;
  height: 500px;
  position: absolute;
  top: 75px;
  left: 180px;
  width: 200px;
  z-index: 0;
}

@media (max-width: 980px) {
  .about .aboutList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .aboutLeft {
    padding: 20px 0 100px;
  }
  .about .aboutRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 300px;
  }
  .about .box1,
  .about .box2,
  .about .box3,
  .about .box4 {
    height: 150px;
    margin-left: 100px;
    width: 150px;
  }
  .about .box1 {
    left: 30px;
    top: -100px;
  }
  .about .box2 {
    left: 150px;
    top: 0px;
  }
  .about .box3 {
    left: -220px;
    top: -100px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about .box4 {
    left: 150px;
    top: 0px;
  }
  .about .box5 {
    left: 190px;
    top: -50px;
    height: 150px;
    width: 400px;
  }
}

@media (max-width: 600px) {
  .about .aboutList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .aboutLeft {
    padding: 20px 0;
  }
  .about .aboutRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
    position: static;
  }
  .about .box1,
  .about .box2,
  .about .box3,
  .about .box4 {
    height: 150px;
    margin-left: 100px;
    width: 30%;
    position: static;
    margin-left: 0;
    margin: 10px;
  }
  .about .box1 {
    left: 0px;
    top: 0px;
  }
  .about .box2 {
    left: 0px;
    top: 0px;
  }
  .about .box3 {
    left: 0px;
    top: 0px;
  }
  .about .box4 {
    left: 0px;
    top: 0px;
  }
  .about .box5 {
    display: none;
  }
}

.skills {
  background: #0F112D;
}

.skills .title {
  padding-top: 70px;
  text-align: center;
}

.skills h2 {
  text-align: center;
}

.skills .skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 70px;
}

.skills .skillsList li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  text-align: center;
  padding: 30px;
}

.skills i {
  font-size: 3rem;
}

.skills .responsiveIcon {
  padding-bottom: 20px;
}

.skills .responsiveIcon,
.skills .firebaseIcon {
  width: 60px;
}

.skills .jQueryIcon,
.skills .vscodeIcon {
  padding-bottom: 5px;
  width: 55px;
}

.portfolio {
  background: #101026;
  text-align: center;
  overflow-x: hidden;
}

.portfolio .wrapper {
  text-align: center;
}

.portfolio .portfolioProjectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 0;
  margin: 10px;
  width: 100%;
}

.portfolio .projectTwo,
.portfolio .projectFour,
.portfolio .projectSix {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.portfolio .projectImageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-bottom: 20px;
}

.portfolio .projectImageBox img {
  border: 2px solid #F4BC17;
}

.portfolio .projectDescriptionBox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .fadeRight .projectDescriptionBox .button {
  margin: 0;
}

.portfolio .fadeLeft .projectDescriptionBox .button {
  margin: 0;
}

@media (max-width: 1050px) {
  .portfolio .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio .projectImageBox {
    min-width: 200px;
    max-width: 700px;
  }
  .portfolio .fadeRight .projectDescriptionBox,
  .portfolio .fadeLeft .projectDescriptionBox {
    text-align: center;
  }
}

@media (max-width: 642px) {
  .portfolio .button {
    margin: 15px 0;
  }
}

.contact {
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  background: #0F112D;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contactInfo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.contact .contactLeft {
  margin-top: 40px;
}

.contact .contactLeft i {
  font-size: 2rem;
  padding: 25px 25px 25px 0;
}

.contact .contactLeft p {
  line-height: 1.1rem;
  padding: 7px 0;
}

.contact .contactLeft li:last-child i:hover {
  color: #F4BC17;
}

.contact .contactLeft li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.contact form input,
.contact form textarea {
  color: white;
  margin: 15px 0;
  background: inherit;
  resize: none;
}

.contact form input {
  border: none;
  border-bottom: 1px solid #F4BC17;
  border-radius: 0;
}

.contact form textarea {
  border: 1px solid #F4BC17;
  border-radius: 0;
}

.contact form button {
  background: none;
}

.contact .up {
  text-align: center;
  padding: 10px;
}

.contact .up i {
  border: 1px solid #F4BC17;
  border-radius: 50%;
  padding: 10px;
}

@media (max-width: 980px) {
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contactInfo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .contact .contactInfo .title,
  .contact .contactInfo h2 {
    text-align: center;
  }
  .contact .contactLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .contactLeft i {
    padding: 25px 25px 25px 25px;
  }
  .contact .contactLeft li {
    width: 50%;
    min-width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .contactLeft li:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact form {
    width: 90%;
  }
  .contact form button {
    width: 100%;
  }
}

@media (max-width: 704px) {
  .contact .contactLeft li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

footer {
  background: #101026;
  text-align: center;
  padding: 15px 0;
}

footer .hide {
  display: none;
}

footer .show {
  display: inline-block;
}

footer .toggleCredits {
  cursor: pointer;
}
